.flotante
{
    position: fixed;
    right:0;
    top:50px;
    z-index: 2000;
    
}

.flotante a
{
    text-decoration: none;
    color: white;
    background: #FBA919;
    margin: 2px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}


.flotantet
{
    display: flex;
    position: fixed;
    right:0;
    top: 95px;
    z-index: 2000;
    right: -1000px;
    transition: all 0.5s;
}


.form-estilo
{
    background: #FBA919;
    padding: 2px;
    border-radius: 10px;
}

.input-buscar
{
    border-radius: 20px;
    width: 100%;
}

.btn-buscar
{
    border-radius: 5px;
    width: 100%;
    background: #0199C5;
    color: white;

}

.mostrar-flotante
{
  right: 0;  
}


@media(min-width:1024px)
{
    .flotante
    {
      top: 100px;
    }    
    .flotante a
    {
      font-size: 17px;
    }
    .flotantet
    {
        top: 145px;
    }
    .input-buscar
    {
        padding: 6px;
    }
    .form-estilo
    {
        padding: 5px;
        margin-bottom: 4px;
        width: 99%;
    }
    .btn-buscar
    {
        font-size: 14px;
    }
    

}
