#tablas {
     overflow:scroll;
     height:75%;
     width:35%;
}
#tablas table {
    width:240px;
    background-color:#FBA319;
    border-radius: 20px;
    border-color: aquamarine;
}

.titulo_articulo
{
    display: block;
    padding: 1px;
    background: rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;
    margin-bottom: 0;
}

.autor_articulo
{
    margin-top: 0;
    font-size: 12px;
    color:black;
    font-style:italic;
}